$primario: cornflowerblue;
$secundario: white;

#cars{
        list-style: none;
        padding: 0;
    li {
        padding: 1rem;
        font-size: 1.4rem;
        background-color: $primario;
        color: $secundario;

        &:nth-child(2n+1){
            color: $primario;
            background-color: $secundario;  
        }
    }
}